@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 15px;
	box-sizing: border-box;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.main {
	max-width: 390px;
	text-align: center;
}