.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
}

.product {
    text-align: center;
    max-height: max-content;

    .img {
        width: 40%;
    }

    .caption {
        padding: 0;
        margin: 0;
        -webkit-line-clamp: 2;

        li {
            margin: 10px 0;
            font-size: 12px;
            display: inline-block;

            &:after {
                content: '\00B7';
                margin: 0 .25em 0 .25em;
                font-weight: bold;
            }

            &:last-child {
                font-weight: 600;
            }

            &:last-child:after {
                content: '\20BD';
                font-weight: 600;
            }
        }
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        background: #f8a818;
        border-radius: 10px;
        color: var(--tg-theme-button-text-color);
        text-transform: uppercase;
        font-weight: 700;

        transition: background .2s linear;

        @media (hover: hover) {
            &:hover {
                cursor: pointer;
                background: lightgreen;
            }
        }

        @media (hover: none) {
            &:active {
                cursor: pointer;
                background: #90ee90;
            }
        }
    }
}